[user]
	name = Alexey Polonsky
	email = alepolon@cisco.com
[alias]
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pullall = "!f(){ git pull \"$@\" && git submodule update --init --recursive; }; f"
	co = checkout
	br = branch
[color]
	ui = auto
[core]
	excludesfile = /home/alepolon/.gitignore_global
	askPass =
